.App {
  text-align: center;
  align-items: center;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

img {
  width: 300px;
  margin: 10px;
  border-radius: 15px;
  border: 2px solid black;
}

.input_fild {
  width: 100%;
  border: 1px solid black;
  display: flex;
}

.btn {
  background-color: rgb(76, 116, 247);
  width: auto;
  height: 2rem;
  border-radius: 30px;
}